// Load color definitions to use.
@import '{zodiase:mdl-assets}/src/color-definitions';

$color-primary: $palette-cyan-500;
$color-primary-dark: $palette-cyan-700;
$color-accent: $palette-cyan-A200;

$layout-nav-color: unquote("rgb(#{$palette-cyan-500})");

// Load mdl.
@import '{zodiase:mdl}/theme';
