sudo: required
language: node_js
node_js:
  - "0.10"

before_install:
  - "cd meteor-package"
  - "curl -L http://git.io/ejPSng | /bin/sh"

before_script:
  - "rm -rf integration-tests"
  - "export METEOR_RELEASE=1.6"

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

script:
  - "make test"
