// Load color definitions to use.
@import '{zodiase:mdl}/src/color-definitions';

$trim-color-classes: true;

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-deep-orange-500;
$color-primary-dark: $palette-deep-orange-700;
$color-accent: $palette-light-green-A200;

// Our primary is dark, so use $color-dark-contrast for overlaid text.
$color-primary-contrast: $color-dark-contrast;
// Our accent is light, so use $color-light-contrast for overlaid text.
$color-accent-contrast: $color-light-contrast;

// Load mdl.
@import '{zodiase:mdl}/theme';
