// Load color definitions to use.
@import '{zodiase:mdl-assets}/src/color-definitions';

$trim-color-classes: true;

$color-primary: "255,87,34";
$color-primary-dark: $palette-deep-orange-700;
$color-accent: $palette-light-green-A200;

$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-light-contrast;

// Load mdl.
@import '{zodiase:mdl-edge}/theme';
